<p><strong>Description: </strong>{{ (ticket | async)?.ticket?.description }}</p>
<p><strong>Assigned to: </strong>{{ (ticket | async)?.user?.name }}</p>

<form [formGroup]="form" (ngSubmit)="assignTicket()">
  <div class="pad-bottom-10">
    <select formControlName="user">
      <option value="" disabled selected>Select User</option>
      <option [ngValue]="user" *ngFor="let user of users | async">
        {{ user?.name }}
      </option>
    </select>
  </div>

  <div class="pad-bottom-10">
    <button [disabled]="!form.valid" type="submit">Assign Ticket</button>
  </div>
</form>

<button [routerLink]="'/'">Back</button>
